body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgba(19, 20, 26, .6);
    line-height: 1.5;
    background-color: #dcdcdc;
}

/* Navbar styling */
.logo {
    font-family: 'DM Serif Display', serif;
    background: -webkit-linear-gradient(#E2B7B9, #92A3A8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.nav-item {
    margin-left: 10px;
  }  

a.nav-link {
    margin-left: 30px; 
    color: #4f4f4f;
}
/* End of navbar styling */

.intro-header {
   margin-top: 70px;
   font-family: 'DM Serif Display', serif;
   line-height: 1.5;
   color: #4f4f4f;
}

.header {
    font-family: 'DM Serif Display', serif;
    color: #4f4f4f;
}

.orange-block {
    width: 100%;
    height: auto;
    background-color: #F9943B;
    padding: 50px 50px 50px;
}

.sub-header {
    font-family: 'DM Serif Display', serif;
    color: #4f4f4f;
    font-size: 18px;
}

.sub-text {
    font-size: 16px;
}