body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #555;
    line-height: 1.5;
}

@media screen and (min-width: 1400px) {
.container {
    padding-left: 100px;
    padding-right: 100px;
}
}

/* Navbar styling */
.navbar {
    align-items: center;
    box-shadow: none;
    margin-top: 20px;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.logo-center {
    align-items: center;
}

nav {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.nav-item {
    margin-left: 10px;
  }  

a.nav-link {
    margin-left: 30px; 
    color: #4f4f4f;
}

.projects a:hover {
    color: #81C3C9;
}

.about a:hover {
    color: #E6C2BF;
}

.resume a:hover {
    color: #9FC7AA;
}
/* End of navbar styling */

.intro-header {
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   line-height: 1.5;
   color: #333;
   z-index: 5;
   font-size: 50px;
}

.header {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    color: #555;
}

.orange-block {
    width: 100%;
    height: 500px;
    background-color: #f9943b;
    border-radius: 30px;
    margin-top: 50px;
}

.sub-header {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    color: rgba(255,255,255,.9);
    font-size: 35px;
    margin-top: 80px;
}

.sub-text {
    letter-spacing: .2px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: rgba(255,255,255,.75);
}

.project-info {
    padding: 50px 50px 50px;
}

.project-img {
    height: 500px;
    width: 100%;
    padding-right: 50px;
}

.btn-orange {
    width: 220px;
    height: 60px;
    color: rgba(255,255,255,.9);
    background-color: rgba(255,255,255,.3);
    border-radius: 5px;
    text-transform: none;
    font-size: 18px;
    border-radius: 12px;
    padding: 16px 32px;
    transition: opacity .15s;
    display: inline-block;
}

.btn-blue {
    width: 220px;
    height: 60px;
    color: rgba(255,255,255,.9);
    background-color: rgba(255,255,255,.3);
    border-radius: 5px;
    text-transform: none;
    font-size: 18px;
    border-radius: 12px;
    padding: 16px 32px;
    transition: opacity .15s;
    display: inline-block;
}

.blue-block {
    width: 100%;
    height: 500px;
    background-color: #006994;
    border-radius: 30px;
}

.btn-green {
    width: 150px;
    height: 50px;
    color: #4f4f4f;
    background-color: #FFFAF1;;
    border-radius: 5px;
    text-transform: none;
    font-size: 16px;
}

.green-block {
    width: 100%;
    height: 400px;
    background-color: #9FC7AA;
    padding: 50px 50px 50px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    max-width: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    color: #f1f1f1;
    width: 100%;
    bottom: 0;
}

.profile-img {
    width: 100%;
    height: auto;
}

.profile-row {
    align-items: center;
    margin-top: 50px;
}

.bio {
    margin-bottom: 60px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

#grad {
    background-image: linear-gradient(#fff, #f0e5f9);
}

/* Media query for smaller screen sizes */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .intro-header {
        margin-top: 50px;
        font-family: 'DM Serif Display', serif;
        line-height: 1.5;
        color: #4f4f4f;
        font-size: 40px;
     }

    .navbar>.container {
        display: ;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 667px) {
    .orange-block {
        width: 100%;
        height: auto;
        background-color: #E6C2BF;
        padding: 30px 30px 30px;
    }

    .blue-block {
        width: 100%;
        height: auto;
        background-color: #81C3C9;
        padding: 30px 30px 30px;
    }

    .intro-header {
        margin-top: 30px;
        font-family: 'DM Serif Display', serif;
        line-height: 1.5;
        color: #4f4f4f;
        font-size: 40px;
     }

     .project-img {
        height: auto;
        width: 100%;
    }

    .profile-img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}