body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgba(19, 20, 26, .6);
    line-height: 1.5;
    background-color: #FFFAF1;
}

/* Navbar styling */
.navbar {
    align-items: center;
}

.logo {
    height: auto;
    width: 100%;
}

nav {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.nav-item {
    margin-left: 10px;
  }  

a.nav-link {
    margin-left: 30px; 
    color: #4f4f4f;
}

.projects a:hover {
    color: #E6C2BF;
}
/* End of navbar styling */

.intro-header {
   margin-top: 100px;
   font-family: 'DM Serif Display', serif;
   line-height: 1.5;
   color: #4f4f4f;
   z-index: 5;
   font-size: 60px;
}

.header {
    font-family: 'DM Serif Display', serif;
    color: #4f4f4f;
}

.orange-block {
    width: 100%;
    height: 400px;
    background-color: #E6C2BF;
    padding: 50px 50px 50px;
}

.sub-header {
    font-family: 'DM Serif Display', serif;
    color: #4f4f4f;
    font-size: 25px;
}

.sub-text {
    font-size: 16px;
}

.project-img {
    height: 400px;
    width: 100%;
}

.btn-orange {
    width: 150px;
    height: 50px;
    color: #E6C2BF;
    background-color: #fff;
    border-radius: 5px;
    text-transform: none;
    font-size: 16px;
}

.btn-blue {
    width: 150px;
    height: 50px;
    color: #81C3C9;
    background-color: #fff;
    border-radius: 5px;
    text-transform: none;
    font-size: 16px;
}

.blue-block {
    width: 100%;
    height: 400px;
    background-color: #81C3C9;
    padding: 50px 50px 50px;
}

.btn-green {
    width: 150px;
    height: 50px;
    color: #9FC7AA;
    background-color: #fff;
    border-radius: 5px;
    text-transform: none;
    font-size: 16px;
}

.green-block {
    width: 100%;
    height: 400px;
    background-color: #9FC7AA;
    padding: 50px 50px 50px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    max-width: 100%;
  }

/* Add some content at the bottom of the video/page */
.content {
    color: #f1f1f1;
    width: 100%;
    bottom: 0;
  }

  .footer-content {
    align-items: center;
  }

.fab.fa-instagram.fa-lg:hover {
    color: #E6C2BF;
}