body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #333;
}

@media screen and (min-width: 1400px) {
.container {
    padding-left: 100px;
    padding-right: 100px;
}
}

/* Navbar styling */
.navbar {
    align-items: center;
    box-shadow: none;
    margin-top: 20px;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background: -webkit-linear-gradient(right, #70B2CD, #006994, #014865);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-center {
    align-items: center;
}

nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.nav-item {
    margin-left: 10px;
  }  

a.nav-link {
    margin-left: 30px; 
    color: #4f4f4f;
}

a.nav-link:hover {
    color: #014865;
    text-decoration: underline;
}

/* End of navbar styling */

/* Gradient styling */

#grad {
    background-image: linear-gradient(#fff, #d9e9ee);
}

#footer-grad {
    background-image: linear-gradient(#fff, #d9e9ee);
}

.header {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #333;
}

.header-2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #333;
    font-size: 25px;
}

.sub-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333;
    font-size: 20px;
    text-transform: uppercase;

}

.process-header {
    margin-top: 50px;
    font-family: 'DM Serif Display', serif;
    color: #4f4f4f;
    font-size: 40px;
    padding: 0px 0px;
}

.about-row {
    align-items: center;
}

.problem-padding, 
.goal-padding {
    padding: 0px 60px 0px;
}

.userflow {
    width: 60%;
    height: auto;
}

.footer-content {
    align-items: center;
}

.prototype {
    width: 1000px; 
    height: 550px;
}

.margin-row {
    margin-top: 80px; 
    margin-bottom: 80px;
}

.why-padding {
    padding: 0px 60px 0px;
}

/* Media query for smaller screen sizes */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .blue-block {
        margin-top: 30px;
        width: 100%;
        height: auto;
        background-color: #81C3C9;
        padding: 30px 30px 30px;
    }

    .contributions {
        padding: 30px 30px 30px;
    }

    .problem-padding, 
    .goal-padding {
        padding: 0px 30px 0px;
    }

    .why-padding {
        padding: 0px 30px 0px;
    }

    .userflow {
        width: 100%;
        height: auto;
    }

    .prototype {
        width: 600px; 
        height: 350px;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 667px) {
    .header {
        font-family: 'DM Serif Display', serif;
        color: #4f4f4f;
        font-size: 25px;
        line-height: 1.5;
    }

    .contributions {
        padding: 30px 30px 30px;
    }

    .blue-block {
        width: 100%;
        height: auto;
        background-color: #81C3C9;
        padding: 30px 30px 30px;
    }

    .process-header {
        margin-top: 30px;
        font-size: 25px;
    }

    .margin-row {
        margin-top: 30px; 
        margin-bottom: 30px;
    }

    .problem-padding, 
    .goal-padding {
        padding: 0px 30px 0px;
    }

    .why-padding {
        padding: 0px 30px 0px;
    }

    .userflow {
        width: 100%;
        height: auto;
    }

    .prototype {
        width: 350px; 
        height: 225px;
    }

    .logo {
        height: auto;
        width: 100%;
    }
}
